@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "work sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #222;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4.883rem;
}

h2 {
  font-size: 3.906rem;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.6rem;
}

.paragraph {
  font-weight: 300;
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
}
.paragraph__small {
  font-size: 1.5rem;
}
.paragraph__grey {
  color: #505050;
}

.small-uppercase {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-center-text {
  text-align: center;
}

.btn {
  font-weight: 100;
  padding: 1rem 1.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn--big {
  border-radius: 5rem;
  position: relative;
  background-color: #1C2541;
  color: #f1f1f1;
  padding: 1.3rem 3.3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding-top: 25rem;
}
.row__box {
  flex: 1;
}

.header {
  background-image: url(../assets/img/hero_background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff9f0;
  height: 100vh;
}

.hero__text {
  flex: 2;
}
.hero__title {
  font-family: "work sans", sans-serif;
  font-size: 4.883rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 2rem 0;
  color: #010101;
  line-height: 1.1;
}
.hero__paragraph {
  max-width: 60rem;
}
.hero__images {
  max-height: 10rem;
}
.hero__image {
  max-width: 100%;
}

.navigation {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10rem;
}
.navigation__title {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: #1C2541;
  font-size: 2.5rem;
}
.navigation__link {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 500;
  color: #505050;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.navigation__link:hover {
  border-bottom: 2px solid #505050;
}
.navigation__link:not(:last-child) {
  margin-right: 6rem;
}

.about {
  height: 100vh;
  position: relative;
  background-image: url(../assets/img/about_bg-01.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
