// ABSTRACTS

@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

// BASE
@import 'base/animations';
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// COMPONENTS
@import 'components/buttons';

// LAYOUT
@import 'layout/footer';
@import 'layout/header';
@import 'layout/menu';
@import 'layout/navigation';

// PAGES
@import 'pages/home';

