.btn{
    font-weight: 100;
    padding: 1rem 1.5rem;
    background-color: $off-white;
    cursor: pointer;
  

    &--big{
      border-radius: 5rem;
      position: relative;
      background-color: $color-tertiary;
      color: $off-white;
      border: 2px solid transparent;
      padding: 1.3rem 3.3rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      // animation: fadeIn 1.8s ease-in-out;
      transition: all .5s;

      @include respond(phone){
      display:block;
      width:100%;         
    }

    }

    &:hover{
      background-color:transparent;
      color:$color-tertiary;
      border: 2px solid $color-tertiary;
    }
   
  }