

.card{
    padding:3rem;
    border-radius:.5rem;
    background-color: transparent;
    // box-shadow: 2px 2px 15px #aaa;
    &>*:not(:last-child){
        margin-bottom: .5rem;
    }

    @include respond(phone){
        background-color: $color-secondary-dark;
    }
   

    &:not(:last-child){
        margin-right:9.2rem;   
        @include respond(tab-port1) {
            margin: 0 0 $margin-large 0;
        }
    }

    &__image-box{
    width:25rem;
    border-radius: 0 0 1rem 1rem;
    
    margin: 0 auto;

    @include respond(tab-port1){
        width:35rem;
        margin: 0 auto;
    }

    @include respond(phone){
        width:25rem;
    }

    }

    &__image{
    width:100%;
    animation: float 5s infinite;

    }

    &__title{
        font-weight: 400;

        @include respond(tab-port1){
            font-size: $h2;
            text-align: center
        }

        @include respond(phone){
            font-size: $h4;
            text-align: center
        }
      
    }
    &__subtitle{
        font-size: 1.4rem;
        font-weight: 400;
        color:$light-text;
        @include respond(tab-port1) {
            margin: 0 auto;
           max-width: 70rem;

        }
    }

    &__paragraph{

        @include respond(tab-port1) {
            margin: 0 auto;
           max-width: 70rem;
        }

        @include respond(phone){
            font-size: 1.3rem;
           
        }
      
    }

} 