

.card{
    padding:0rem;
    background-color: transparent;
    border-radius: 0 0 1rem 1rem;
    // box-shadow: 2px 2px 15px #aaa;

    &:not(:last-child){
        margin-right:9.2rem;   
    }

    &__image-box{
    width:20rem;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 4rem;
    animation: float 4s infinite;

    }

    &__image{
    width:120%;

    }

    &__title{
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__subtitle{
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color:$light-text;
    }

} 