

.card{
    padding:0rem;
    background-color: transparent;
    border-radius: 0 0 1rem 1rem;
    // box-shadow: 2px 2px 15px #aaa;
    &>*:not(:last-child){
        margin-bottom: 1rem;
    }

    &:not(:last-child){
        margin-right:9.2rem;   
        @include respond(tab-port2){
            margin: 0 0 $margin-huge 0;
        }
    }

    &__image-box{
    width:20rem;
    border-radius: 0 0 1rem 1rem;
    animation: float 4s infinite;

    @include respond(tab-port2){
        margin: 0 auto;
    }

    }

    &__image{
    width:100%;

    }

    &__title{
        font-weight: 400;

        @include respond(tab-port2){
            text-align: center
        }
      
    }
    &__subtitle{
        font-size: 1.4rem;
        font-weight: 400;
   
        color:$light-text;
    }

} 