.flex-row{
        display:flex;
        justify-content:space-between;
        align-content:baseline;
        
        &>*:not(:last-child){
            // @include respond(tab-port1) {
            //     margin-bottom: $margin-large;
    
            // }
            
        }

        @include respond(tab-port1) {
            display: block;

        }

        &__box{
            flex:1;
        }
}