.about{
    height:100vh;
    position: relative;
    background-image: 
    url(../assets/img/about_bg-01.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services{
    height:100vh;
    position: relative;
    background-image: 
    url(../assets/img/services_background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}