.about{
    min-height: 100vh;
    background-color: $color-secondary;
    padding-bottom:$padding-huge;
    @include flex-center;
   
    @include respond(tab-port1){
        min-height: 85vh;
    }

    @include respond(phone){
        min-height: 60vh; 
    }

    

        &__text{
            >*:not(:last-child){margin-bottom: $margin-small;}
        }
        
        &__title{
            font-family: 'work sans', sans-serif;
            font-size: $h1;
            font-weight: 500;
            color:$black;
            line-height: 1.3;
            @include respond(tab-port2){
                font-size: $h2;
            }
            @include respond(phone){
                font-size:$h4;
            }
        }
    
        &__paragraph{
          max-width: 70rem;

          @include respond(tab-port2){
            font-size: 1.5rem;
        }
        @include respond(phone){
            font-size: 1.3rem;
        }
        }
        &__image-box{
            max-width: 45rem;
            @include respond(tab-port2){
                margin: 0 auto $margin-medium auto;
                max-width: 35rem; 

            @include respond(phone){
                max-width: 25rem; 

            }
            
            }
      
        }
        
        &__image{
            width: 100%;
        }
    }

.services{
    padding-bottom:$padding-huge;
    min-height: 100vh;
    background-color: $color-secondary;
    &__title{
        text-align: center;
        // padding-top: 10rem;
        margin-bottom: $margin-huge;

        @include respond(tab-port1){
            margin-bottom: $margin-medium;
        }

       

        h2{
            font-size: $h1;
            font-weight: 500;

            @include respond(phone){
                font-size:$h3;
            }
        }
    }
}