// COLORS
$color-primary: #9EC5AB;
$color-secondary:rgb(255, 249, 240);
$color-tertiary: #1C2541;;
$white: #fff;
$off-white: #f1f1f1;
$light-grey: #eee;
$black:#010101;

$light-text: rgb(80, 80, 80);
$dark-text: #222;

//FONTS
$h1: 4.883rem;
$h2: 3.906rem;
$h3: 3.125rem;
$h4: 2.5rem;
$h5: 1.6rem;
$p-small: 1.280px;

//MARGINS
$margin-xs: 1rem;
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-large: 6rem;
$margin-huge: 10rem;


//PADDING
$padding-xs: 1rem;
$padding-small: 2rem;
$padding-medium: 4rem;
$padding-large: 6rem;
$padding-huge: 10rem;
