.footer{
    min-height: 50vh;
    background-color: $color-secondary-dark;

    @include respond(tab-port1){
        padding-top:2rem;
    }
 

    &__navigation{
        margin-top:10rem;
        position: relative;
        border-top: 1px solid $color-tertiary;
        width: 90%;
        padding: $padding-small 0;

        @include respond(tab-port1){
            width: 100%;
            margin-top:0rem;
                 

        }
    }
   
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;

        @include respond(phone){
            flex-direction: column;
        }
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: $margin-medium;
        }
        
    }

    &__link{
        color:$color-tertiary;
        text-decoration: none;
        
    }

    &__copyright{
        width: 95%;
        margin-top:10rem;
        border-top: 1px solid $color-tertiary;
        color:$color-tertiary;
        padding: $padding-small 0;

        @include respond(tab-port1){
            margin-top:0;
            width: 100%;
        }

        @include respond(phone){
           
            font-size: 1.3rem;
        }
    }

    &__logo{
        
        padding: $padding-huge 0;
        max-width: 30rem;
        text-align: center;
    }

    &__logo-image{
      
        width: 100%;
    }
}