.header{

    background-image: 
    url(../assets/img/hero_background.svg),;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-secondary;
    height:100vh;
}

.hero{

    &__text{
        flex:2;
    }
    
    &__title{
        font-family: 'work sans', sans-serif;
        font-size: $h1;
        font-weight: 500;
        margin: $margin-xs 0 $margin-medium 0;
        color:$black;
        line-height: 1.3;
    }

    &__paragraph{
      max-width: 70rem;
    }
    
    &__image{
        max-width: 50rem;

    }
}

.logo-image{
    width: 100%;
}