.hero{
    background-color: $color-secondary;
    min-height: 100vh;
    padding-bottom:$padding-huge;
    >*:not(:last-child){
        margin-bottom: $margin-small;
    }

    @include respond(phone){
        min-height: 80vh; 
    }

    

    &__heading{
        padding-top: 23rem;
        flex-direction: row-reverse;

        @include respond(tab-port1){
            padding-top: $padding-large;
        }
    }

    &__text{

        margin-bottom: $margin-small;  
        @include respond(tab-port1){
            margin: 0 auto;
        }

        >*:not(:last-child){
            margin-bottom: $margin-small;
        
            @include respond(tab-port1){
                margin-bottom:$margin-xs;
            }
        }

        @include respond(phone){
            margin-bottom: $margin-medium;   
        }
       
    }

    &__title{
        font-size: $h1;
        font-weight: 500;
        color:$black;
        line-height: 1.2;
        // animation: fadeIn 1.4s ease-in-out;

        @include respond(tab-port2){
            font-size: $h2;
        }
        @include respond(phone){
            font-size: $h4;
            line-height: 1.1;   
        }
    

    }

    &__paragraph{
      max-width: 63rem;
      line-height: 1.4;
    //   animation: fadeIn 1.6s ease-in-out;

        @include respond(tab-port2){
            font-size: 1.5rem;
        }

        @include respond(phone){
            font-size: 1.3rem;
        }
    }

    &__images{
        max-width: 45rem;    
        margin: 0 auto $margin-medium auto;
        
        @include respond(tab-port1){
            max-width: 35rem; 
            margin: 2rem auto 0 auto;
            
        }

        @include respond(phone){
            max-width: 20rem; 
            
        }
    }
    
    &__image{
      width: 100%;
    }
}