.hero{
    // background-image: url("../assets/img/hero_background.svg");
    // background-size: cover;

    background-color: $color-secondary;
    min-height: 100vh;
    >*:not(:last-child){margin-bottom: $margin-small;}

    &__heading{
        padding-top: 23rem;
        flex-direction: row-reverse;
        @include respond(tab-port1){
            padding-top: $padding-large;
        }
    }

    &__text{
        @include respond(tab-port1){
            margin: 0 auto;
        }

        >*:not(:last-child){
            margin-bottom: $margin-small;
        
            @include respond(tab-port1){
                margin-bottom:$margin-xs;
            }
        }
    }

    &__title{
        font-size: $h1;
        font-weight: 500;
        color:$black;
        line-height: 1.2;
        // animation: fadeIn 1.4s ease-in-out;

        @include respond(tab-port2){
            font-size: $h2;
        }
        @include respond(phone){
            font-size: $h3;
            line-height: 1.1;
            
        }
    }

    &__paragraph{
      max-width: 63rem;
      line-height: 1.4;
    //   animation: fadeIn 1.6s ease-in-out;

        @include respond(tab-port2){
            font-size: 1.5rem;
        }
    }

    &__images{
        max-width: 45rem;    
        margin: 0 auto $margin-medium auto;
        
        @include respond(tab-port1){
            max-width: 35rem; 
            margin: 0 auto;
            
        }

        @include respond(phone){
            max-width: 25rem; 
            
        }
    }
    
    &__image{
      width: 100%;
    }
}