.navigation{
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    height:5vh;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: $padding-xs $padding-huge;

        &__title{
            display: block;
            font-weight: 500;
            text-decoration: none;
            color: $color-tertiary;
            font-size: $h4;
        }

        &__link{
            font-size: $h5;
            display: inline-block;
            font-weight: 500;
            color: $light-text;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            &:hover{
                border-bottom: 2px solid $light-text;
            }

            &:not(:last-child){
                margin-right: $margin-large;
            }     
        }
}
