.navigation{
    z-index: 5;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height:100%;
    width:100%;
    animation: fadeIn 1s ease-in-out;
   


        &__logo{
            width: 9rem;
            @include respond(tab-port2){
                display: none;
            }
        }

        .logo-image{
            width: 100%;
        }

        .links{
            @include respond(tab-port2){
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                width:100%;
            }

    
        }

        &__link{
            font-size: $h5;
            display: inline-block;
            font-weight: 500;
            color: $light-text;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: border-bottom .5s;

           


            &:hover{
                border-bottom: 2px solid $light-text;
            }

            &:not(:last-child){
                margin-right: $margin-large;

                @include respond(tab-port2){
                    margin:0;
                 }
                
            }     
        }
}
