.header{

    background-image: 
    url(../assets/img/hero_bg-01.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}

.hero{


    &__text{
    
        padding-right: $padding-huge;
       
    }
    
    &__title{
        font-family: 'work sans', sans-serif;
        font-size: $h1;
        font-weight: 400;
        letter-spacing: 1px;
        margin: $margin-small 0;
        color:$black;
        line-height: 1.1;
        
    }
    
    &__images{

        min-height:2rem;


    }

    &__image{
      
        width: 45rem;

    }
}