.btn{
    font-weight: 100;
    padding: 1rem 1.5rem;
    background-color: $off-white;
    cursor: pointer;
  

    &--big{

      border-radius: 5rem;
      position: relative;
      background-color: $color-tertiary;
      color: $off-white;
      padding: 1.3rem 3.3rem;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
   
  }