.row{
        display:flex;
        justify-content:space-between;
        align-content:baseline;
        max-width: 130rem;
        padding-top: 25rem;

        &__box{
            flex:1;
    
        }
}